<h1>Quarantine Snacks</h1>
 
<%= link_to 'New Snack Idea?', new_snack_path %>

<table>
  <tr>
    <th>Snack</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
 
  <% @snack.each do |snack| %>
    <tr>
      <td><%= snack.name %></td>
      <td><%= snack.price %></td>
      <td><%= link_to 'Show', snacks_path(snack) %></td>
      <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
      <td><%= link_to 'Destroy', snacks_path(snack), method: :delete, data: { confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>