<div id="nav-bar">
  <h1>Quarantine Snacks</h1>
  <div id="nav-links">
    <p id="links"><%= link_to 'Home', controller: 'welcome' %></p>
    <p id="links"><%= link_to 'Snacks', controller: 'snacks' %></p>
    <p id="links"><%= link_to 'Cart', controller: 'carts' %></p>
  </div>
</div>
<p>Stay Healthy and Hungry!</p>

<p><%= image_tag "chips.jpg"%></p>


<%# <%= form_with scope: :welcome, local: true do |form| 
  <p>
    <%= form.label :name ><br>
    <%= form.text_field :name >
  </p>
 
  <p>
    <%= form.label :comment ><br>
    <%= form.text_area :comment >
  </p>
 
  <p>
    <%= form.submit >
  </p>
%>

